<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>
<section class="main-tasks padding-20">
    <%- include('includes/tasksBody.ejs') %>
</section>
<%- include('includes/foooter.ejs') %>
<%- include('includes/footer.ejs') %>